body{
	/* background-image: url('leaves.png'); */
	/* background-image: url('sakura.png'); */
	/* background-image: url('giftly.png'); */
	background-image: url('gqj.jpg');
	/* background-image: url('sakura.png'); */
	background-repeat: repeat;
}
/* æ ‡é¢˜æ¨¡å— */
.nav {
  width: 100%;
  background-color:white;
  height:250px;
  display:block;
  text-align:center;
  padding-bottom:10px;
}
.nav-ctn {
  width: 800px;
  margin: 0 auto;
  min-width: 800px;
  height: 100px;
  box-sizing: border-box;
}
.navctn-tit img{
  width: 500px; 
  height: 60px;
  
}
.ipt_word {
  width: 380px;
  height: 24px;
  margin-top: 12px;
  padding-left: 20px;
  font-size: 16px;
  border-radius: 5px;
}
.addbtn {	
  text-align: center;
  margin-top: 0px;
  border-radius: 3px;
  border-top-left-radius:0px;
  border-top-right-radius:3px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:3px;
  height: 42.33px;
  width:72.1px;
  background-color: #377d6a;
  color:white;
  border-width:0px;
  font-size:16px;

  
}

/* ä¸­é—´éƒ¨åˆ† */
.mid-ctn {
  width: 800px;
  margin: 0 auto;

}
.li {
  width: 600px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
  margin: 10px 20px;
}
.check {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
.delbtn {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: antiquewhite;
  background: #ff0000;
  font-size: 12px;
  padding: 0;
  float: right;
}
.todonow {
  position: relative;
}
.countone {
  position: absolute;
  top: 5px;
  right: 100px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #fefce5;
}
.todofinish {
  position: relative;
}
.counttwo {
  position: absolute;
  top: 5px;
  right: 100px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #fefce5;
}
.countone,.counttwo {
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: skyblue;
}
.word{
	font-size:25px;
	letter-spacing:4px;
  font-weight:bold;
  font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}

/* åº•éƒ¨éƒ¨åˆ† */
.foot-ctn {
  text-align: center;
  font-size: 14px;
  color: #666;
}
.smallbody{
  margin: 40px 15% 0px 15%;
  padding:10px 20px 20px 20px;
  width: 70%;
  height:740px;
  background-color: white;
  border-radius:20px;
  opacity:0.85;
}
.smallbody2{
  margin: 40px 15% 0px 15%;
  padding:10px 20px 20px 20px;
  width: 70%;
  height:1300px;
  background-color: white;
  border-radius:20px;
  opacity:0.85;
}
.headerFont{
	font-family:'LackRegular';
	font-size: 100px;
}
@font-face{
	font-family:'LackRegular';
    src: url('E:/素材/字体/Lack/lack-regular.otf');}
.nav-ctn span {
  position: relative;
  display: inline-block;
  margin: 30px 10px;
}
.gate + label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #7AB893;
  transition: all .4s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: left bottom;
  z-index: 99;
  color: white;
}
.gate {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 100px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: white;
  border: 0;
  border-top-left-radius:3px;
  border-top-right-radius:0px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:0px;
  outline: 0;
  text-indent: 65px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.gate::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.gate + label:before, .gate + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background: #377D6A;
  transform-origin: left bottom;
  transition: all .4s ease-in-out;
  pointer-events: none;
  z-index: -1;
}
.gate + label:before {
  background: rgba(3, 36, 41, 0.2);
  z-index: -2;
  right: 20%;
}

span:nth-child(2) .gate {
  text-indent: 85px;
}

span:nth-child(2) .gate:focus,
span:nth-child(2) .gate:active {
  text-indent: 0;
}

.gate:focus,
.gate:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.gate:focus::-webkit-input-placeholder,
.gate:active::-webkit-input-placeholder {
  color: #aaa;
}
.gate:focus + label,
.gate:active + label {
  transform: rotate(-66deg);
  border-radius: 3px;
}
.gate:focus + label:before,
.gate:active + label:before {
  transform: rotate(10deg);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
}
 
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
 
/* 鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color:#377D6A;
    color: white;
}

.class1{
           width: 250px;
           height: 800px;
           background-color:#377D6A ;
           float:left;
           color: white;
           text-align: center;
           border-color: aqua;

       }
       .class2{
           margin-top: 40px;

       }
       .class3
       {
           width: 750px;
           height: 800px;
           color: #377D6A;
           background-color: whitesmoke;
           
       }
       .class4
       {
           text-align: left;
           text-indent:5% ;
           list-style-position: outside;
       }
       
       p{
           text-align: left;
           text-indent: 13%;
           font-size: 0.8rem;
       }
      
       .h4class{
           text-indent: 4%;
           text-align: left;
       }
       .h5class{
           text-align: center;
           text-indent: 4%
       }
       .pclass{
           color: black;
           text-indent: 7%;
       }
       .hr1{
        width: 60%;
        height:2px;
        background-color: #ccc;
        border:5px  #DDDDDD ;
          
       }
       .ula{
           text-align: center;
           list-style-type: square;
       }